.header {
  height: 140px;
  display: flex;
  flex-direction: row;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(123, 194, 195)), to(rgb(128, 133, 191)));
  background-image: -webkit-linear-gradient(left, rgb(123, 194, 195), rgb(128, 133, 191));
  background-image: -moz-linear-gradient(left, rgb(123, 194, 195), rgb(128, 133, 191));
  background-image: -o-linear-gradient(left, rgb(123, 194, 195), rgb(128, 133, 191));

  & > * {
    width: 33%;
  }

  svg {
    margin: 2% 10px;
  }

  span {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: auto 0;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 850px) and (min-width: 601px) {
  .header {
    height: 100px;

    svg {
      margin: 4% 10px;
    }

    span {
      font-size: 24px;
    }
  }
}

@media (max-width: 600px) {
  .header {
    height: 70px;

    svg {
      margin: 3% 10px;
    }

    span {
      font-size: 18px;
    }
  }
}

@media (max-width: 400px) {
  .header {
    svg {
      margin: 6% 10px;
    }

    span {
      width: 100%;
    }
  }
}
