{
  "presets": [["env", { "modules": false }], "react-app"],
  "plugins": [
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env", "react-app"],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
