{
  "plugins": [
    "stylelint-scss",
  ],
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extends",
        "include",
        "mixin"
      ]
    }],
    "block-no-empty": null,
    "unit-whitelist": [
      "%",
      "deg",
      "em",
      "ms",
      "px",
      "rem",
      "s",
      "vh",
      "vw"
    ]
  }
}
